<h5>{{answerStatus}}</h5>
<h3>{{countdown-clock runClock=runClock sendResults="sendResults"}}</h3>
<h5>{{correctCount}} Correct</h5>
{{#if error}}
  <h5>I did not understand what you said...</h5>
{{else}}
  <h5>You said: {{spokenPhrase}}</h5>
{{/if}}
<br>
<h1>{{phrase}}</h1>
{{speech-recognition
  verifyWord="verifyWord"
  stopSpeechRecognition=stopSpeechRecognition
  errorOcurred="errorOcurred"
  language='es'
  count=correctCount}}
